<!-- <div class="container">
            <div class="section-row">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 border-gbr">
                        <img src="{% static 'img/iphone.jpg' %}" class="margin-bottom" width="340px" height="240px">
                        <p class="bold-font">Iphone X</p>
                        <p>Rp 15.000.000</p>
                        <a href="{% url 'list' %}">Lihat Details</a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 border-gbr">
                        <img src="{% static 'img/sepatu.jpg' %}" class="margin-bottom" width="340px" height="240px">
                        <p class="bold-font">Sepatu Vans</p>
                        <p>Rp 799.000</p>
                        <a href="{% url 'list' %}">Lihat Details</a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 border-gbr">
                        <img src="{% static 'img/motor.jpg' %}" class="margin-bottom" width="340px" height="240px">
                        <p class="bold-font">Motor</p>
                        <p>Rp 35.000.000</p>
                        <a href="{% url 'list' %}">Lihat Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-row">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 border-gbr">
                        <img src="{% static 'img/kompor.jpg' %}" class="margin-bottom" width="340px" height="240px">
                        <p class="bold-font">Kompor</p>
                        <p>Rp 1.000.000</p>
                        <a href="{% url 'list' %}">Lihat Details</a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 border-gbr">
                        <img src="{% static 'img/monitor.jpg' %}" class="margin-bottom" width="340px" height="240px">
                        <p class="bold-font">Monitor</p>
                        <a href="{% url 'list' %}">Lihat Details</a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 border-gbr">
                        <img src="{% static 'img/mobil.jpg' %}" class="margin-bottom" width="340px" height="240px">
                        <p class="bold-font">Mobil</p>
                        <a href="{% url 'list' %}">Lihat Details</a>
                    </div>
                </div>
                <a href="{% url 'list' %}" class="bold-font text-black text-center padding-top">Tambah Item</a>
            </div>
        </div> -->